# Environment variables
.env
*.env
ori.env

# Azure keys or config files
config.json

# Vector store files
vectorstore/
*.faiss
*.pkl

# VSCode
.vscode/

# Python venv (if not already ignored)
venv/
venv312/

# Local data
docs/
